<div layout="column" role="main" id="topscontainer">
    <md-content flex id="content">
        <div layout="row" layout-align="center center" layout-fill>
            <md-whiteframe class="md-whiteframe-7dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout-padding>
                <md-content class="instance">
                    <md-input-container>
                        <label>Username</label>
                        <input ng-model="user.username">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input ng-model="user.password" type="password">
                    </md-input-container>
                    <md-input-container layout-align="center center">
                        <div layout="row" layout-sm="column" layout-margin>
                            <md-button class="md-raised" flex="50" flex-sm="100" ng-click="login()">Login</md-button>
                            <md-button class="md-raised md-primary" flex="50" flex-sm="100" ng-click="register()">Register</md-button>
                        </div>
                    </md-input-container>
                </md-content>
            </md-whiteframe>
        </div>
    </md-content>
</div>

