#topscontainer {
    width: 100%;
    height: 100%;
    display:  block;
    position: relative;
}

#topscontainer::after {
    content: "";
    background-image: url(images/bucket-list.jpg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.instance {
    border: 1px solid #efefef;
}
